*,
*::before,
*::after{
    box-sizing: border-box;
}

html,
body,
.wrapper {
    height: 100%;
    margin: 0;
    padding: 0;
    float: center;
    border-radius: 25px;
    border: 2px dashed grey
}

body {
    font-family: 'Times New Roman', Times, serif;
    background-color: grey;
}
h2{
    text-align: center;
}

.wrapper {
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
}

header {
    text-align: center;
    padding: 20px;
    padding-top: 0px;
    color:whitesmoke;
}

.card{
    background-color: whitesmoke;
    border-radius: 5px;
    border-width: 1px;
    box-shadow: black;
    color:black;
    font-size: 18px;
    margin: 0 auto;
    max-width: 800px;
    padding: 30px 40px;
}

.card-header::after{
    content:" ";
    display: block;
    width: 100%;;
    background-color: white;
    height: 2px;
}

.card-body{
    min-height:100px;
}

.card-footer{
    text-align: center;
}

.card-footer::before{
    content:" ";
    display: block;
    width: 100%;
    background-color: white;
    height: 2px;
}

.btn{
    border:none;
    background-color: black;
    border-radius: 25px;
    color:whitesmoke;
    display:block;
    float:center;
    text-align: center;
    font-size:1.2rem;
    border: 2px whitesmoke;
    border-radius:6px;
}

#start{
    border:none;
    background-color:red;
    border-radius: 25px;
    color:whitesmoke;
    display:block;
    float:center;
    text-align: center;
    font-size:1.2rem;
    border: 2px whitesmoke;
    border-radius:6px;
}

#correct-Answers{
    display:block;
    width:100%;
    padding: 15px;
    font-size: 1.2rem;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 2px dashed grey
}

/* @media (max-width: 690px){
    .btn{font-size: 1rem;
    margin: 16px,0px, 0px,0px;
    padding: 10px 15px;
}

#correct-Answers{
    font-size: 1rem;
}
}

@media (max-width: 500px){
    .btn {
        font-size: 0.8rem;
    }
} */